<% if notice  %>
  <div class="alert alert-success animated slideInDown" role="alert">
    <%= notice %>
  </div>
<% end %>
<% if params[:search] %>
<div class="alert alert-primary" role="alert">
  <%= fa_icon("server") %>
  <strong><%= @nb %></strong> Localisations trouvées correspondantes à la recherche
</div>
<% else %>
<nav class="nav nav-pills nav-justified">
  <%= link_to fa_icon("plus")+' Ajouter localisation', new_localisation_path, class: 'm-1 nav-item btn btn-outline-primary' %>
  <% @rattachements.each do |r|%>
    <%= link_to r.rattachement, localisations_path(:ville_id => r.rattachement), class: "m-1 nav-item btn btn-outline-info" %>
  <% end %>
</nav>
<% end %>
<table id="tablesorter" class="tablesorter table table-sm table-striped">
  <thead>
    <tr>
      <th><%= fa_icon("home") %> Ville</th>
      <th><%= fa_icon("") %> Nom</th>
      <th><%= fa_icon("map") %> Adresse</th>
      <th><%= fa_icon("image") %></th>
      <th>NB</th>
      <th><%= fa_icon("phone") %> Liens</th>
      <th>NB</th>
      <th><%= fa_icon("server") %> Équipements</th>
      <th><%= fa_icon("barcode") %> BP</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @localisations.each do |localisation| %>
      <tr>
        <td><%= localisation.ville %></td>
        <td><a class="text-info" href="<%= edit_localisation_path(localisation)%>"><%= localisation.nom %></a></td>
        <td><%= localisation.adresse %></td>

        <td>
          <% if localisation.images %>
            <% localisation.images.each do |i| %>
              <%= link_to image_tag(i.variant(resize: '50x35'), class:"rounded"), i %>
            <% end %>
          <% end %>
        </td>

        <td><span class="badge badge-pill badge-purple"><%= localisation.lignes.uniq.count %></span></td>
        <td>
          <% if localisation.recettes %>
            <% ligne = [] %>
            <% localisation.recettes.each do |r| %>
              <% ligne << r.ligne %>
            <% end %>
            <% ligne.uniq! %>
            <% ligne.each do |l| %>
            <ul>
              <a class="text-purple" href="<%= edit_ligne_path(l["id"])%>">
                <% if l %>

                    <% if l["numerocompte"] %>
                      <li><%= l["numerocompte"] %></li>
                    <% else %>
                      <li><%= l["ndi"] %></li>
                    <% end %>

                <% end %>
              </a>
            </ul>
            <% end %>
          <% end %>
        </td>
        <td><span class="badge badge-pill badge-danger"><%= localisation.equipements.uniq.count %></span></td>
        <td>
          <% if localisation.recettes %>
          <ul>

            <% localisation.recettes.each do |r| %>
              <a class="text-danger" href="<%= edit_equipement_path(r.equipement)%>">
                <%= r.equipement.nom %>
              </a>-<a class="text-success" href="<%= edit_recette_path(r) %>"><%= fa_icon("pencil")+fa_icon("check-square-o") %></a><br/>
            <% end %>
          </ul>
          <% end %>
        </td>

          <td><%= localisation.bp %></td>

        <td><%= link_to fa_icon("pencil"), edit_localisation_path(localisation), class: "btn btn-outline-primary" %></td>
        <td><%= link_to fa_icon("trash"), localisation, class: "btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if !params[:ville_id] %>
  <%= paginate @localisations %>
<% end %>
<br>
<h3>Importer un fichier CSV</h3>
  <%= form_tag import_localisations_path, multipart: true do %>
    <%= file_field_tag :file, class: "btn" %>
    <%= submit_tag "Importer le CSV", class: "btn" %>
  <% end %>
