<% if notice  %>
  <div class="alert alert-success animated slideInDown" role="alert">
    <%= notice %>
  </div>
<% end %>
<% if params[:search] %>
<div class="alert alert-primary" role="alert">
  <%= fa_icon("server") %>
  <strong><%= @nb %></strong> Localisations trouvées correspondantes à la recherche </h1>
</div>
<% else %>
  <h1><%= @nb %> Localisations</h1>
  <%= link_to fa_icon("plus")+' Ajouter une localisation', new_localisation_path, class: 'btn btn-outline-primary' %>
<% end %>
<table id="tablesorter" class="tablesorter table table-sm table-striped">
  <thead>
    <tr>
      <th><%= fa_icon("home") %> Ville</th>
      <th><%= fa_icon("") %> Nom</th>
      <th><%= fa_icon("map") %> Adresse</th>
      <th><%= fa_icon("phone") %> Sorties internet</th>
      <th><%= fa_icon("server") %> Équipements / site</th>
      <th><%= fa_icon("map-marker") %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @localisations.each do |localisation| %>
      <tr>
        <td><%= localisation.ville %></td>
        <td><a href="<%= edit_localisation_path(localisation)%>"><%= localisation.nom %></a></td>
        <td><%= localisation.adresse %></td>
        <td><% if localisation.recettes.last %>
          <a href="<%= edit_ligne_path(localisation.recettes.last.ligne)%>">
            <%= localisation.recettes.last.ligne.ndi %>
          </a>
        <% end %></td>
        <td><% if localisation.recettes.last %>
          <a href="<%= edit_equipement_path(localisation.recettes.last.equipement)%>">
            <%= localisation.recettes.last.equipement.nom %>
          </a>
        <% end %></td>
        <% if localisation.lat %>
          <td class="text-success"><%= fa_icon("check") %></td>
        <% else %>
          <td class="text-danger"><%= fa_icon("close") %></td>
        <% end %>
        <td><%= link_to fa_icon("pencil"), edit_localisation_path(localisation), class: "btn btn-outline-warning" %></td>
        <td><%= link_to fa_icon("trash"), localisation, class: "btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @localisations %>

<br>
