<% if notice  %>
  <div class="alert alert-success animated slideInDown" role="alert">
    <%= notice %>
  </div>
<% end %>
<% if params[:search] %>
<div class="alert alert-primary" role="alert">
  <%= fa_icon("server") %>
  <strong><%= @nb %></strong> Localisations trouvées correspondantes à la recherche </h1>
</div>
<% else %>
  <%= link_to fa_icon("plus")+' Ajouter une localisation', new_localisation_path, class: 'btn btn-outline-primary' %>
<% end %>
<table id="tablesorter" class="tablesorter table table-sm table-striped">
  <thead>
    <tr>
      <th><%= fa_icon("home") %> Ville</th>
      <th><%= fa_icon("") %> Nom</th>
      <th><%= fa_icon("map") %> Adresse</th>
      <th><%= fa_icon("phone") %> Sorties internet</th>
      <th><%= fa_icon("server") %> Équipements / site</th>
      <th><%= fa_icon("barcode") %> BP</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @localisations.each do |localisation| %>
      <tr>
        <td><%= localisation.ville %></td>
        <td><a class="text-info" href="<%= edit_localisation_path(localisation)%>"><%= localisation.nom %></a></td>
        <td><%= localisation.adresse %></td>
        <td><% if localisation.recettes.last %>
          <a class="text-purple" href="<%= edit_ligne_path(localisation.recettes.last.ligne)%>">
            <% if localisation.recettes.last.ligne.ndi %>
              <%= localisation.recettes.last.ligne.ndi %>
            <% else %>
              <%= localisation.recettes.last.ligne.numerocompte %>
            <% end %>
          </a>
        <% end %></td>
        <td><% if localisation.recettes.last %>
          <a class="text-danger" href="<%= edit_equipement_path(localisation.recettes.last.equipement)%>">
            <%= localisation.recettes.last.equipement.nom %>
          </a>
        <% end %></td>

          <td><%= localisation.bp %></td>

        <td><%= link_to fa_icon("pencil"), edit_localisation_path(localisation), class: "btn btn-outline-primary" %></td>
        <td><%= link_to fa_icon("trash"), localisation, class: "btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @localisations %>

<br>
<h3>Importer un fichier CSV</h3>
  <%= form_tag import_localisations_path, multipart: true do %>
    <%= file_field_tag :file, class: "btn" %>
    <%= submit_tag "Importer le CSV", class: "btn" %>
  <% end %>
