<%= simple_form_for(@recette) do |f| %>
  <%= f.error_notification %>

  <div class="card text-white bg-danger mb-3">
    <div class="card-body">
      <h4 class="card-title"><%= fa_icon("server") %> Équipements</h4>
      <div class="form-row">
        <div class='col-lg-6 col-sm-12'>
          <label for="recette_equipement_id">Sélectionner un équipement existant et non-recetté</label>
          <select class="form-control" name="recette[equipement_id]" id="recette_equipement_id">
            <%  @enr.each do |e|  %>
            <option value="<%= e.id %>"><%= e.nom %></option>
            <% end %>
          </select>
        </div>
        <div class='col-lg-6 col-sm-12'>
          <label for="recette_equipement_id">ou alors</label><br/>
          <a href="<%= new_equipement_path %>" class="btn btn-primary"><%= fa_icon("server") %> Ajouter un nouvel équipement</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card text-white bg-warning mb-3">
    <div class="card-body">
      <h4 class="card-title"><%= fa_icon("globe") %> Sortie internet</h4>
      <div class="form-row">
        <div class='col-lg-6 col-sm-12'>
          <label for="recette_equipement_id">Sélectionner une localisation</label>
          <select class="form-control" name="recette[ligne_id]" id="recette_ligne_id">
            <% @lignes.each do |lig| %>
              <option value="<%= lig.id %>"><%= lig.numerocompte %> - <%= lig.ndi %></option>
            <% end %>
          </select>
        </div>
        <div class='col-lg-6 col-sm-12'>
          <label for="recette_equipement_id">ou alors</label><br/>
          <a href="<%= new_ligne_path %>" class="btn btn-primary"><%= fa_icon("phone") %> Ajouter une nouvelle ligne</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card text-white bg-info mb-3">
    <div class="card-body">
      <h4 class="card-title"><%= fa_icon("map-marker") %> Localisation</h4>
      <div class="form-row">
        <div class='col-lg-6 col-sm-12'>
          <label for="recette_equipement_id">Sélectionner une localisation</label>
          <select class="form-control" name="recette[localisation_id]" id="recette_localisation_id">
            <% @localisations.each do |loc| %>
              <option value="<%= loc.id %>"><%= loc.ville %> <%= loc.nom %></option>
            <% end %>
          </select>
        </div>
        <div class='col-lg-6 col-sm-12'>
          <label for="recette_equipement_id">ou alors</label><br/>
          <a href="<%= new_localisation_path %>" class="btn btn-primary"><%= fa_icon("map-marker") %> Ajouter une nouvelle localisation</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card text-white bg-success mb-3">
    <div class="card-body">
      <h4 class="card-title"><%= fa_icon("check") %> Test de conformité</h4>

      <div class="form-row">
        <div class='col-lg-6 col-sm-12'>
          <%= f.input :snmp, label: "Communauté SNMP ajoutée"%>
        </div>
        <div class='col-lg-6 col-sm-12'>
          <%= f.input :tacacs, label: "Authentification TACACS effectué"%>
        </div>
      </div>
      <div class="form-row">
        <div class='col-lg-6 col-sm-12'>
          <%= f.input :testdebit, label: "Test de débit effectués"%>
        </div>
        <div class='col-lg-6 col-sm-12'>
          <%= f.input :supervision, label: "Équipement supervisé"%>
        </div>
      </div>
      <%= f.input :etiquette, label: "Étiquette collée sur l'équipement"%>

    </div>
  </div>

  <%= f.button :submit, "Valider et ajouter la fiche recette", class: "btn btn-block btn-outline-primary mb-3" %>

<% end %>
