<div class="container">
<%= simple_form_for(@recette) do |f| %>
  <%= f.error_notification %>

  <div class="card text-danger border-danger mb-3">
    <div class="card-body">
      <h4 class="card-title"><%= fa_icon("server") %> Équipements</h4>
      <div class="form-row">
        <div class='col-lg-12 col-sm-12'>
          <% if params[:action] == 'edit' %>
            <%= f.association :equipement, label: "Sélectionner un équipement", label_method: lambda {|e| "#{e.marque} #{e.modele} - #{e.nom} - #{e.ip}"}, value_method: :id, include_blank: false %>
          <% else %>
            <label for="recette_equipement_id">Sélectionner un équipement existant et non-recetté</label>
            <select class="form-control" name="recette[equipement_id]" id="recette_equipement_id">
              <option value="2202">Pas d'équipement</option>
              <%  @equipements.each do |e|  %>
              <option value="<%= e.id %>"><%= e.marque %> - <%= e.modele %> - <%= e.nom %> - <%= e.ip %> - <%= e.serial %></option>
              <% end %>
            </select>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="card text-info border-info mb-3">
    <div class="card-body">
      <h4 class="card-title"><%= fa_icon("map-marker") %> Localisation</h4>
      <div class="form-row">
        <% if params[:action] == 'eddit' %>
          <div class='col-lg-12 col-sm-12' id="filtre-select-loc">
            <%= f.association :localisation, label: "Sélectionner une localisation existante", label_method: lambda { |l| "#{l.ville} #{l.nom}, #{l.adresse}" }, value_method: :id, include_blank: false %>
            <input class="form-control text-filtre" type="text" placeholder="Filtre">
          </div>
        <% else %>
        <div class='col-lg-4 col-sm-12'>
          <label for="recette_equipement_id"><%= fa_icon("university") %>Sélectionner d'abord une ville</label>
          <select class="form-control" name="recette[localisation_ville]" id="recette_localisation_ville">
              <option></option>
            <% @villes.each do |ville| %>
              <option value="<%= ville %>"><%= ville %></option>
            <% end %>
          </select>
        </div>
        <div class='col-lg-4 col-sm-12'>
          <label for="recette_equipement_id"><%= fa_icon("map-marker") %>... puis un lieu</label><br/>
          <select class="form-control recette_localisation_id" name="recette[localisation_id]" id="recette_localisation_id">
            <option></option>
            <% @localisations.each do |loc| %>
              <option <% if action_name == "edit" and @recette.localisation.id == loc.id %> selected <% end %>class="loc <%= loc.ville.delete(' ') if loc.ville %>" value="<%= loc.id %>"><%= loc.nom %></option>
            <% end %>
          </select>
        </div>
        <div class='col-lg-4 col-sm-12' id="filtre-select-lig">
          <label for="filtre">Filtrer les éléments de la liste précédente : </label>
          <input class="form-control ligne-filtre" type="text" name="filtre">
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card text-purple border-purple mb-3 internet">
    <div class="card-body">
      <h4 class="card-title"><%= fa_icon("globe") %> Sortie internet</h4>
      <div class="form-row">
        <div class='col-lg-6 col-sm-12' id="filtre-select-lig">
          <label for="recette_equipement_id">Sélectionner une sortie internet</label>
          <select class="form-control" name="recette[ligne_id]" id="recette_ligne_id">
            <optgroup label="Lignes actuellement sur site :">
              <% fpbm = Ligne.where(numerocompte: "Fibre privée BM").first %>
              <option value="<%=fpbm.id %>"><%=fpbm.numerocompte %></option>
              <% @lignes.each do |lig| %>
                <% recettes =  Recette.where(ligne_id: lig.id).distinct %>
                <% if recettes.count > 0 %>
                  <% lignes = [] %>
                  <% recettes.each do |r| %>
                    <% l = Localisation.find(r.localisation_id) %>
                    <% lignes << l %>
                  <% end %>
                  <% lignes.uniq! %>
                  <% lignes.each do |l| %>
                    <option class="<%= l["id"] %> ligne" value="<%= lig["id"] %>"><%= lig["numerocompte"] %> - <%= lig["ndi"] %></option>
                  <% end %>
                <% end %>
              <% end %>
            </optgroup>
            <optgroup label="Autres lignes">
              <% @lignes.each do |lig| %>
                <option value="<%= lig["id"] %>"><%= lig["numerocompte"] %> - <%= lig["ndi"] %></option>
              <% end %>
            </optgroup>
          </select>
        </div>
        <div class='col-lg-6 col-sm-12' id="filtre-select-lig">
          <label for="filtre">Filtrer les éléments de la liste précédente : </label>
          <input class="form-control ligne-filtre" type="text" name="filtre">
        </div>
      </div>
    </div>
  </div>


  <div class="card text-primary border-primary mb-3">
    <div class="card-body">
      <h4 class="card-title"><%= fa_icon("check") %> Test de conformité</h4>

      <div class="form-row">
        <div class='col-lg-6 col-sm-12'>
          <%= f.input :snmp, label: "Communauté SNMP ajoutée"%>
        </div>
        <div class='col-lg-6 col-sm-12'>
          <%= f.input :tacacs, label: "Authentification TACACS effectué"%>
        </div>
      </div>
      <div class="form-row">
        <div class='col-lg-6 col-sm-12'>
          <%= f.input :testdebit, label: "Test de débit effectués"%>
        </div>
        <div class='col-lg-6 col-sm-12'>
          <%= f.input :supervision, label: "Équipement supervisé"%>
        </div>
      </div>
      <%= f.input :etiquette, label: "Étiquette collée sur l'équipement"%>

    </div>
  </div>

  <%= f.button :submit, "Valider et ajouter la fiche recette", class: "btn btn-block btn-outline-danger mb-3" %>

<% end %>
</div>
