<% if params[:search] %>
  <div class="alert alert-primary" role="alert">
  <%= fa_icon("server") %>
  <strong><%= @recettes.count %></strong> Fiches recettes trouvées correspondants à la recherche "<%= params[:search] %>"</h1>
</div>
<% else %>

<h2><%= fa_icon("server") %> Équipements</h2>
<div class="row">
  <div class="col">
    <h4><%= fa_icon("university") %> Équipements par commune</h4>
    <%= pie_chart Recette.joins(:equipement).where.not('equipements.nom' => 'Cimetière Chartreuse-Loge').joins(:localisation).group(:ville).count.sort, donut: true, download: true, legend: "bottom", width: "500px", height: "450px", download: true %>
  </div>
  <div class="col">
    <h4><%= fa_icon("industry") %> Équipements par fabricant</h4>
    <%= pie_chart Equipement.group(:marque).where.not(marque: [nil, '', 'net-snmp', 'Unknown', 'Moxa Technologies Co., Ltd.', 'PipingHot Networks Limited']).count.sort, donut: true, download: true, legend: "bottom", width: "500px", height: "450px" %>
  </div>

</div>
<div class="row">
  <div class="col">
    <h4>Matériel <span class="text-danger">Brocade</span> par modèle</h4>
    <%= bar_chart Equipement.where("marque LIKE ?","%Brocade%").group(:modele).count.sort, download: true, width: "500px", height: "1000px" %>
  </div>
  <div class="col">
    <h4>Matériel <span class="text-primary">Cisco</span> par modèle</h4>
    <%= bar_chart Equipement.where("marque LIKE ?","%Cisco%").group(:modele).count.sort, download: true, width: "500px", height: "1000px" %>
  </div>
</div>

<h2 class="m-3"><%= fa_icon("globe") %> Sorties internet</h2>
<div class="row">
  <div class="col">
    <h4>Lignes internet par commune</h4>
    <%= pie_chart Recette.joins(:ligne).where.not('lignes.numerocompte' => 'Fibre privée BM').joins(:localisation).group(:ville).count, donut: true, download: true, legend: "bottom", width: "500px", height: "450px", download: true %>
  </div>
  <div class="col">
    <h4><%= fa_icon("bug") %> Répartition par opérateur</h4>
    <%= pie_chart Operateur.joins(:lignes).group(:nom).count, donut: true, download: true, legend: "bottom", width: "500px", height: "450px" %>
  </div>
</div>
<% end %>
