<p id="notice"><%= notice %></p>

<h1>Recettes</h1>

<%= link_to fa_icon("plus")+' Nouvelle fiche recette', new_recette_path, class: 'btn btn-outline-primary' %>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Equipement</th>
      <th>Ligne</th>
      <th>Localisation</th>
      <th>Snmp</th>
      <th>Tacacs</th>
      <th>Testdebit</th>
      <th>Supervision</th>
      <th>Etiquette</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recettes.each do |recette| %>
      <tr>
        <td><%= recette.user.email %></td>
        <td><%= recette.equipement.nom %></td>
        <td><%= recette.ligne.ndi %></td>
        <td><%= recette.localisation.nom %></td>
        <% if recette.snmp %><td><%=  fa_icon("check", class: "text-success") %></td>
        <% else %><td><%=  fa_icon("close", class: "text-danger") %></td><% end %>
        <% if recette.tacacs %><td><%=  fa_icon("check", class: "text-success") %></td>
        <% else %><td><%=  fa_icon("close", class: "text-danger") %></td><% end %>
        <% if recette.testdebit %><td><%=  fa_icon("check", class: "text-success") %></td>
        <% else %><td><%=  fa_icon("close", class: "text-danger") %></td><% end %>
        <% if recette.supervision %><td><%=  fa_icon("check", class: "text-success") %></td>
        <% else %><td><%=  fa_icon("close", class: "text-danger") %></td><% end %>
        <% if recette.etiquette %><td><%=  fa_icon("check", class: "text-success") %></td>
        <% else %><td><%=  fa_icon("close", class: "text-danger") %></td><% end %>

        <td><%= link_to fa_icon("search"), recette, class: "btn btn-outline-info" %></td>
        <td><%= link_to fa_icon("pencil"), edit_recette_path(recette), class: "btn btn-outline-warning" %></td>
        <td><%= link_to fa_icon("trash"), recette, class: "btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
