<% if notice  %>
  <div class="alert alert-success animated slideInDown" role="alert">
    <%= notice %>
  </div>
<% end %>
<% if params[:search] %>
  <div class="alert alert-primary" role="alert">
  <%= fa_icon("server") %>
  <strong><%= PgSearch.multisearch(params[:search]).count %></strong> Fiches recettes trouvées correspondants à la recherche "<%= params[:search] %>"</h1>
</div>
<% end %>

<table id="tablesorter" class="tablesorter table table-sm table-striped">
  <thead>
    <tr>
      <th><%= fa_icon("calendar") %> Date</th>
      <th><%= fa_icon("user-circle") %> User</th>
      <th><%= fa_icon("server") %> Equipement</th>
      <th><%= fa_icon("barcode") %> Serial</th>
      <th><%= fa_icon("at") %> IP</th>
      <th><%= fa_icon("phone") %> Ligne</th>
      <th><%= fa_icon("home") %> Nom site</th>
      <th><%= fa_icon("image") %></th>
      <th><%= fa_icon("home") %> Adresse</th>
      <th>SNMP</th>
      <th>TACACS</th>
      <th><%= fa_icon("dashboard") %> Orion</th>
      <th><%= fa_icon("download") %> Débit</th>
      <th><%= fa_icon("tag") %> Net</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @recettes.each do |recette| %>
      <tr>
        <% if params[:search] %>
          <% recette = Recette.find(recette.searchable_id) %>
        <% end %>
        <td><%= recette.created_at.strftime("%d/%m/%y") %></td>
        <% index = recette.user.email.index('@') - 1 %>
        <td><%= recette.user.email.slice(0..index) %></td>
        <td><a class="text-danger" href="<%= edit_equipement_path(recette.equipement) %>"><%= recette.equipement.nom %></a></td>
        <td><%= recette.equipement.serial %></td>
        <td><%= recette.equipement.ip %></td>
        <td><a class="text-purple" href="<%= edit_ligne_path(recette.ligne) %>"><%= recette.ligne.numerocompte %></a></td>
        <td><a class="text-info" href="<%= edit_localisation_path(recette.localisation) %>"><%= recette.localisation.nom %></a></td>
        <td>
          <% if recette.localisation.images %>
            <% recette.localisation.images.each do |i| %>
              <%= link_to image_tag(i.variant(resize: '50x35'), class:"rounded"), i %>
            <% end %>
          <% end %>
        </td>
        <td><%= recette.localisation.adresse %>, <strong><%= recette.localisation.ville %></strong></td>
        <% if recette.snmp %><td><%=  fa_icon("check", class: "text-success") %></td>
        <% else %><td><%=  fa_icon("close", class: "text-danger") %></td><% end %>
        <% if recette.tacacs %><td><%=  fa_icon("check", class: "text-success") %></td>
        <% else %><td><%=  fa_icon("close", class: "text-danger") %></td><% end %>
        <% if recette.supervision %><td><%=  fa_icon("check", class: "text-success") %></td>
        <% else %><td><%=  fa_icon("close", class: "text-danger") %></td><% end %>
        <% if recette.testdebit %><td><%=  fa_icon("check", class: "text-success") %></td>
        <% else %><td><%=  fa_icon("close", class: "text-danger") %></td><% end %>
        <% if recette.etiquette %><td><%=  fa_icon("check", class: "text-success") %></td>
        <% else %><td><%=  fa_icon("close", class: "text-danger") %></td><% end %>

        <td><%= link_to fa_icon("pencil"), edit_recette_path(recette), class: "btn btn-outline-primary" %></td>
        <td><%= link_to fa_icon("trash"), recette, class: "btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @recettes %>

<br>
