<h2 class="text-center">Cartographie des équipements réseaux</h1>

<div id="mapid" style="height: 800px;"></div>

<script>
	var mymap = L.map('mapid').setView([44.8273, -0.5964], 11);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 18,
		attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
		id: 'mapbox.streets'
	}).addTo(mymap);

  var myIcon = L.icon({
    iconUrl: '<%= asset_path('marker-icon.png') %>',
		iconSize: [25, 41],
    iconAnchor: [14, 41],
    popupAnchor: [0,-30],
    shadowUrl: '<%= asset_path('marker-shadow.png') %>',
		shadowSize: [41, 41],
    shadowAnchor: [14, 41]
  });
  var myIconSuccess = L.icon({
    iconUrl: '<%= asset_path('marker-icon-success.png') %>',
		iconSize: [25, 41],
    iconAnchor: [14, 41],
    popupAnchor: [0,-30],
    shadowUrl: '<%= asset_path('marker-shadow.png') %>',
		shadowSize: [41, 41],
    shadowAnchor: [14, 41]
  });
  var myIconWarning = L.icon({
    iconUrl: '<%= asset_path('marker-icon-warning.png') %>',
		iconSize: [25, 41],
    iconAnchor: [14, 41],
    popupAnchor: [0,-30],
    shadowUrl: '<%= asset_path('marker-shadow.png') %>',
		shadowSize: [41, 41],
    shadowAnchor: [14, 41]
  });
  var myIconDanger = L.icon({
    iconUrl: '<%= asset_path('marker-icon-danger.png') %>',
		iconSize: [25, 41],
    iconAnchor: [14, 41],
    popupAnchor: [0,-30],
    shadowUrl: '<%= asset_path('marker-shadow.png') %>',
		shadowSize: [41, 41],
    shadowAnchor: [14, 41]
  });

	<% @localisations.each do |l| %>
		<% if l.recettes.count < 3 %>
			L.marker([<%= l.lat %>, <%= l.lng %>],
			{icon: myIconSuccess}).addTo(mymap).bindPopup(
			"<strong><i class='fa fa-home'></i> <%=l.nom%></strong><br/>"
			<% l.recettes.each do |r| %>
				+"<i class='fa fa-server'></i> <%=r.equipement.nom%> - <%=r.equipement.ip%><br/>"
			<% end %>
			);
		<% elsif l.recettes.count === 3...9 %>
			L.marker([<%= l.lat %>, <%= l.lng %>],
			{icon: myIconWarning}).addTo(mymap).bindPopup(
			"<strong><i class='fa fa-home'></i> <%=l.nom%></strong><br/>"
			<% l.recettes.each do |r| %>
				+"<i class='fa fa-server'></i> <%=r.equipement.nom%> - <%=r.equipement.ip%><br/>"
			<% end %>
			);
			<% elsif l.recettes.count > 9 %>
				L.marker([<%= l.lat %>, <%= l.lng %>],
				{icon: myIconDanger}).addTo(mymap).bindPopup(
				"<strong><i class='fa fa-home'></i> <%=l.nom%></strong><br/>"
				<% l.recettes.each do |r| %>
					+"<i class='fa fa-server'></i> <%=r.equipement.nom%> - <%=r.equipement.ip%><br/>"
				<% end %>
				);
		<% end %>
	<% end %>



</script>

<style>
	.leaflet-touch .leaflet-control-layers-toggle {
		background-image:url(<%= asset_path('layers.png') %>);
	}
</style>
