<% if notice  %>
  <div class="alert alert-success animated slideInDown" role="alert">
    <%= notice %>
  </div>
<% end %>
<% if alert  %>
  <div class="alert alert-danger animated slideInDown" role="alert">
    <%= alert %>
  </div>
<% end %>
<div class="container">
  <%= simple_form_for(@incident) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.association :user, :as => :hidden, :input_html => { :value => current_user.id } %>
      <div class="row">
        <div class="col">
          <%= f.input :debut %>
        </div>
        <div class="col">
          <%= f.input :fin %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= f.input :idnxo, label: "Identifiant d'incident NXO" %>
        </div>
        <div class="col">
          <%= f.input :idasap, label: "Identifiant d'incident ASAP", input_html: {placeholder:'INC0012345'} %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= f.input :nopenality, label: fa_icon("heartbeat")+" Coupure non franche. (N'applique pas les pénalités). Obligation de justifier dans la description.", wrapper_html: {class: 'alert alert-warning'} %>
        </div>
      </div>
      <% if params[:action] == "edit"%>
        <div class="row">
          <div class="col">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>Équipement précédemments sélectionnées : </th>
                </tr>
              </thead>
              <tbody>
              <%= f.collection_check_boxes :equipement_ids, @incident.equipements, :id, :serial do |input| %>
                <!-- <% if input.object.modele.present? %> -->
                  <tr>
                    <td>
                      <label>
                        <strong><%= input.object.marque %></strong> <%= input.object.modele %> <%= input.object.nom %> <%= input.object.ip %> <%= input.text %>
                      </label>
                    </td>
                  </tr>
                <!-- <% end %> -->
              <% end %>
            </tbody>
          </table>
          </div>
        </div>
      <% end %>

      <div class="alert alert-info">
         <%= fa_icon('exclamation-triangle') %> Vous ne pouvez sélectionner que des équipements qui ont la <strong>même SLA.</strong> Pour en ajouter des différents, déposer un nouvel incident.
        </div>
      <table class="table table-sm">
        <thead>
          <tr>
            <th  scope="col">Sélectionner les équipements défectueux :</th>
            <th  scope="col"><input class="form-control" type:"text" id="filtre_equipements" placeholder="Filtre : IP ou n° série ou marque" /></th>
          </tr>
        </thead>
        <tbody>
          <%= f.collection_check_boxes :equipement_ids, @eqs, :id, :serial do |input| %>
            <tr class="equipement sla-<% if input.object.sla %><%= input.object.sla %>" sla="<%= input.object.sla %><% end %>" id=equipement_"<%= input.object.id %>">
              <td>
                <label>
                  <%= input.check_box %>
                  <strong><%= input.object.marque %></strong> <%= input.object.modele %> <%= input.object.nom %> <%= input.object.ip %> <%= input.text %>
                </label>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= f.input :commentaire %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
