<% if notice  %>
  <div class="alert alert-success animated slideInDown" role="alert">
    <%= notice %>
  </div>
<% end %>
<% if alert  %>
  <div class="alert alert-danger animated slideInDown" role="alert">
    <%= alert %>
  </div>
<% end %>
<%= link_to fa_icon('plus')+' Déposer un nouvel incident', new_incident_path, class: 'btn btn-outline-primary' %>

<table id="tablesorter" class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Équipement</th>
      <th>Localisation</th>
      <th class="text-primary">SLA</th>
      <th class="text-success">GTR</th>
      <th>Début</th>
      <th>Fin</th>
      <th class="text-info">Durée</th>
      <th class="text-warning">Retard</th>
      <th class="text-danger">NB <%= fa_icon("server") %></th>
      <th class="text-purple">Pénalités</th>
      <th>Identifiant NXO</th>
      <th>Incident ASAP</th>
      <th>Déposé par</th>
      <th colspan="2"></th>
    </tr>
  </thead>
<% total_penalite = 0 %>
  <tbody>
    <% @incidents.each do |incident| %>
    <%
    if incident.equipements.first.present?
    case incident.equipements.first.sla
    when 1
      gtr = 4
      gtr_txt = '4h - 24/7'
      coef_penalite = 2000
      tranche_penalite = 4
    when 2
      gtr = 4
      gtr_txt = '4h Lun-Sam, 8h-21h'
      coef_penalite = 1500
      tranche_penalite = 4
    when 3
      gtr = 4
      gtr_txt = '4h Lun-Sam, 8h-18h'
      coef_penalite = 1500
      tranche_penalite = 4
    when 4
      gtr = 4
      gtr_txt = '4h Lun-Ven, 8h-18h'
      coef_penalite = 1500
      tranche_penalite = 4
    when 5
      gtr = 8
      gtr_txt = '4h Lun-Ven, 8h-18h'
      coef_penalite = 1000
      tranche_penalite = 8
    when 6
      gtr = 34
      gtr_txt = 'J+1 Lun-Ven, 8h-18h'
      coef_penalite = 500
      tranche_penalite = 10
    end
  end
  %>
  <% if incident.equipements.first.present? %>
      <tr>
        <td><%= incident.equipements.first.marque %> <%= incident.equipements.first.modele %> <%= incident.equipements.first.serial %></td>
        <td><% if incident.equipements.first.localisation %><a class="text-info" href="<%= edit_localisation_path(incident.equipements.first.localisation) %>"><%= incident.equipements.first.localisation.nom %>, <%= incident.equipements.first.localisation.adresse %>, <strong><%= incident.equipements.first.localisation.ville %></strong></a><% end %></td>
        <td><span class="badge badge-pill badge-primary"><%= incident.equipements.first.sla %></span></td>
        <td><span class="badge badge-pill badge-success"><%= gtr_txt %></td>
        <td><%= incident.debut.strftime("%d/%m - %H:%M") %></td>
        <td><%= incident.fin.strftime("%d/%m - %H:%M") %></td>
        <td><span class="badge badge-pill badge-info"><% temps_resolution = ((incident.fin - incident.debut)/3600).to_i  %><%= temps_resolution %> h</span></td>
          <% retard = temps_resolution - gtr.to_f %>
        <td><span class="badge badge-pill badge-warning"><% if retard.positive? %><%= retard %> h<% end %></span></td>
        <td><span class="badge badge-pill badge-danger"><%= incident.equipements.count %></span></td>
        <td>
          <% if !incident.nopenality and retard.positive? and tranche_penalite %>
            <% penalite = (((retard.to_f / tranche_penalite).ceil)*coef_penalite)*incident.equipements.count
            total_penalite = total_penalite + penalite %>
            <span class="badge badge-pill badge-purple"><%= penalite  %> €</span>
          <% end %>
        </td>
        <td><%= incident.idnxo %></td>
        <td><%= incident.idasap %></td>
        <td><%= incident.user.email.slice(0..(incident.user.email.index('@')-1)) %></td>
        <td><%= link_to fa_icon('pencil'), edit_incident_path(incident), class: 'btn btn-outline-primary btn-sm' %></td>
        <td><%= link_to fa_icon('trash'), incident, class: 'btn btn-sm btn-outline-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<h4 class="alert alert-danger">Montant total des pénalités : <strong><%= total_penalite %> €</strong></h4>
<br>
<h5>Valeur de référence du marché :</h5>
<table class="table">
  <head>
    <tr>
      <th>SLA</th>
      <th>GTR</th>
      <th>Pénalités</th>
      <th>Nombre d'équipements</th>
    </tr>
  </head>
  <tbody>

    <tr  class="table-info">
      <td>1</td>
      <td>4h - 24/7</td>
      <td>2000 € / 4h</td>
      <td><%= Equipement.where(sla: 1).count %></td>
    </tr>
    <tr class="table-primary">
      <td>2</td>
      <td>4h - Lun-Sam, 8h-21h</td>
      <td>1500 € / 4h</td>
      <td><%= Equipement.where(sla: 2).count %></td>
    </tr>
    <tr class="table-purple">
      <td>3</td>
      <td>4h - Lun-Sam, 8h-18h</td>
      <td>1500 € / 4h</td>
      <td><%= Equipement.where(sla: 3).count %></td>
    </tr>
    <tr class="table-danger">
      <td>4</td>
      <td>4h - Lun-Ven, 8h-18h</td>
      <td>1500 € / 4h</td>
      <td><%= Equipement.where(sla: 4).count %></td>
    </tr>
    <tr class="table-warning">
      <td>5</td>
      <td>8h - Lun-Ven, 8h-18h</td>
      <td>1000 € / 8h</td>
      <td><%= Equipement.where(sla: 5).count %></td>
    </tr>
    <tr class="table-success">
      <td>6</td>
      <td>J+1 - Lun-Ven, 8h-18h</td>
      <td>500 € / 10h</td>
      <td><%= Equipement.where(sla: 6).count %></td>
    </tr>
  </tbody>
</table>
