<%= simple_form_for(@equipement) do |f| %>
  <% if equipement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(equipement.errors.count, "error") %> prohibited this equipement from being saved:</h2>

      <ul>
      <% equipement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card text-danger border-danger mb-3">
    <div class="card-body">
      <h4 class="card-title"><%= fa_icon("id-card") %> Identité</h4>

      <div class="form-row">
        <div class='col-lg-6 col-sm-12'>
         <%= f.input :marque, id: :equipement_modele, label: 'Marque', input_html: {readonly:''} %>
        </div>
        <div class='col-lg-6 col-sm-12'>
          <%= f.input :modele, id: :equipement_modele, label: 'Modèle', input_html: {readonly:''} %>
        </div>
      </div>
      <div class="form-row">
        <div class='col'>
          <%= f.input :serial, id: :equipement_serial, label: 'Numéro de série', input_html: {readonly:''} %>
        </div>
      </div>
    </div>
  </div>


  <div class="card text-white bg-secondary mb-3">
    <div class="card-body">
      <h4 class="card-title"><%= fa_icon("wrench") %> Configuration</h4>
      <div class="form-row">
        <div class='col-lg-6 col-sm-12'>
          <%= f.input :nom, id: :equipement_nom, label: fa_icon('id-card')+' Nom', input_html: {placeholder:'SW-AMB-ELE-S-Veil'} %>
        </div>
        <div class='col-lg-6 col-sm-12'>
          <%= f.input :ip, id: :equipement_ip, label: fa_icon('at')+' IP', input_html: {placeholder:'172.20.15.220'} %>
        </div>
      </div>
      <div class="form-row">
        <div class='col-lg-6 col-sm-12'>
          <%= f.input :asapid, id: :equipement_asapid, label: fa_icon('tag')+' Identifiant ASAP', input_html: {placeholder:'Net-000666'} %>
        </div>
        <div class='col-lg-6 col-sm-12'>
          <%= f.input :iosv, id: :equipement_iosv, label: fa_icon('linux')+" Version de l'OS" %>
        </div>
      </div>
      <div class="form-row">
        <div class='col-lg-6 col-sm-12'>
          <div class="form-check">
            <%= f.input :supervision, as: :boolean, label: "Ne pas superviser l'équipement (borne Wifi)"%>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card bg-dark text-white mb-3">
    <div class="card-body">
      <h4 class="card-title"><%= fa_icon("umbrella") %> Maintenance</h4>
      <div class="form-row">
        <div class='col-lg-3 col-sm-4'>
          <%= f.input :maintenance, as: :boolean, label: fa_icon('umbrella')+'Équipement maintenu ?' %>
        </div>
        <div class='col-lg-3 col-sm-4'>
          <%= f.input :sla, id: :equipement_sla, label: fa_icon('thermometer-empty')+' SLA' %>
        </div>
        <div class='col-lg-3 col-sm-4'>
          <%= f.input :coutmaintenance, id: :equipement_coutmaintenance, label: fa_icon('money')+' Coût mensuel de maintenance' %>
        </div>
        <div class='col-lg-3 col-sm-4'>
          <%= f.input :datemaintenance, id: :equipement_datemaintenance, label: fa_icon('calendar')+" Date de début de maintenance" %>
        </div>
      </div>
    </div>
  </div>

  <%= f.button :submit, "Passer l'équipement en production", class: "btn btn-block btn-outline-primary mb-3" %>

<% end %>
