<%= simple_form_for(@equipement) do |f| %>
  <% if equipement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(equipement.errors.count, "error") %> prohibited this equipement from being saved:</h2>

      <ul>
      <% equipement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='col-lg-6 col-sm-12'>
  </div>

  <div class="card text-white bg-warning mb-3">
    <div class="card-body">
      <h4 class="card-title"><%= fa_icon("wrench") %> Configuration</h4>
      <div class="form-row">
        <div class='col-lg-6 col-sm-12'>
          <%= f.input :nom, id: :equipement_nom, label: fa_icon('id-card')+' Nom', input_html: {placeholder:'SW-AMB-ELE-S-Veil'} %>
        </div>
        <div class='col-lg-6 col-sm-12'>
          <%= f.input :ip, id: :equipement_ip, label: fa_icon('at')+' IP', input_html: {placeholder:'172.20.15.220'} %>
        </div>
      </div>
      <div class="form-row">
        <div class='col-lg-6 col-sm-12'>
          <%= f.input :asapid, id: :equipement_asapid, label: fa_icon('tag')+' Identifiant ASAP', input_html: {placeholder:'Net-000666'} %>
        </div>
        <div class='col-lg-6 col-sm-12'>
          <%= f.input :iosv, id: :equipement_iosv, label: fa_icon('linux')+" Version de l'OS" %>
        </div>
      </div>
    </div>
  </div>

  <%= f.button :submit, "Passer l'équipement en production", class: "btn btn-block btn-outline-primary mb-3" %>

<% end %>
