<% if notice  %>
  <div class="alert alert-success animated slideInDown" role="alert">
    <%= notice %>
  </div>
<% end %>

<h1><%= fa_icon("server") %> <%= @nb %> Équipements en production</h1>

<%= link_to fa_icon("plus")+' Ajouter un équipement', new_equipement_path, class: 'btn btn-outline-primary' %>

<table id="tablesorter" class="tablesorter table table-striped table-sm">
  <thead>
    <tr>
      <th><%= fa_icon("tag") %> Marque</th>
      <th><%= fa_icon("server") %> Modèle</th>
      <th><%= fa_icon("comment") %> Nom</th>
      <th><%= fa_icon("globe") %> Sortie internet</th>
      <th><%= fa_icon("map-marker") %> Localisation</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipements.each do |equipement| %>
      <tr>
        <td><%= equipement.marque %></td>
        <td><%= equipement.modele %></td>
        <td><a href="<%= edit_equipement_path(equipement) %>" data-toggle="tooltip" data-placement="top" title="<%= equipement.ip %>"><%= equipement.nom %></a></td>
        <td><% if equipement.recette %>
          <a href="<%= edit_ligne_path(equipement.recette.ligne) %>">
            <%= equipement.recette.ligne.numerocompte %>
          </a>
        <% end %></td>
        <td><% if equipement.recette %>
          <a href="<%= edit_localisation_path(equipement.recette.localisation) %>">
            <%= equipement.recette.localisation.nom %>
          </a>
        <% end %></td>
        <td><%= link_to fa_icon("pencil"), edit_equipement_path(equipement), class: "btn btn-outline-warning" %></td>
        <td><%= link_to fa_icon("trash"), equipement, class: "btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
