<div class="container">
<% if notice  %>
  <div class="alert alert-success animated slideInDown" role="alert">
    <%= notice %>
  </div>
<% end %>

<%= simple_form_for(@equipement) do |f| %>

<h1 class="text-center p-3">Ajout d'équipements au stock</h1>

<div class="card text-white bg-danger mb-3">
  <div class="card-body">
    <h4 class="card-title"><%= fa_icon("id-card") %> Identité</h4>

    <div class="form-row">
      <div class='col-lg-6 col-sm-12'>

        <div class="form-group">
           <label for="equipement_marque">Marque</label>
           <select class="form-control" name="equipement[marque]" id="equipement_marque">
              <option <% if Equipement.last.marque == 'Brocade' %> selected <% end %> value="Brocade">Brocade</option>
              <option <% if Equipement.last.marque == 'Aerohive' %> selected <% end %> value="Aerohive">Aerohive</option>
              <option <% if Equipement.last.marque == 'Alcatel' %> selected <% end %> value="Alcatel">Alcatel</option>
              <option <% if Equipement.last.marque == 'Avaya' %> selected <% end %> value="Avaya">Avaya</option>
              <option <% if Equipement.last.marque == 'Cisco' %> selected <% end %> value="Cisco">Cisco</option>
              <option <% if Equipement.last.marque == 'DELL' %> selected <% end %> value="DELL">DELL</option>
              <option <% if Equipement.last.marque == 'DLink' %> selected <% end %> value="DLink">DLink</option>
              <option <% if Equipement.last.marque == 'Hirschmann' %> selected <% end %> value="Hirschmann">Hirschmann</option>
              <option <% if Equipement.last.marque == 'HP' %> selected <% end %> value="HP">HP</option>
              <option <% if Equipement.last.marque == 'Huawei' %> selected <% end %> value="Huawei">Huawei</option>
              <option <% if Equipement.last.marque == 'Netgear' %> selected <% end %> value="Netgear">Netgear</option>
              <option <% if Equipement.last.marque == 'Nortel' %> selected <% end %> value="Nortel">Nortel</option>
              <option <% if Equipement.last.marque == 'Sophos' %> selected <% end %> value="Sophos">Sophos</option>
              <option <% if Equipement.last.marque == 'TP' %> selected <% end %> value="TP Link">TP Link</option>
           </select>
         </div>

      </div>
      <div class='col-lg-6 col-sm-12'>
        <%= f.input :modele, id: :equipement_modele, label: 'Modèle', input_html: {placeholder:'ICX7250-24P...', value: Equipement.last.modele} %>
      </div>
    </div>


    <div class="form-row">
      <div class='col'>
        <%= f.input :serial, id: :equipement_serial, label: 'Numéro de série', input_html: {placeholder:'DUI3821N0B3'} %>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col">
    <div class="card text-tomate border-tomate mb-3">
      <div class="card-body">
        <h4 class="card-title"><%= fa_icon("truck") %> Livraison</h4>
        <div class="form-row">
          <div class='col-lg-12 col-sm-12'>
            <div class="form-group">
              <label for="equipement_livraison">Bon de livraison :</label>
              <select class="form-control" name="equipement[livraison_id]" id="equipement_livraison">
                <option></option>
                <% @livraisons.each do |l| %>
                <% if Equipement.last.livraison_id? %>
                <option <% if Equipement.last.livraison_id == l.id %> selected <% end %> value="<%= l.id %>"><%= l.created_at.strftime("%d/%m/%y") %> - <%= l.nom %></option>
                <% end %>
                <% end %>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-primary border-primary mb-3">
      <div class="card-body">
        <h4 class="card-title"><%= fa_icon("handshake-o") %> Garantie</h4>
        <div class="form-row">
          <div class='col-lg-7 col-sm-12'>
            <%= f.input :achat, id: :equipement_achat, label: "Date d'achat", input_html: {placeholder: ''}  %>
          </div>
          <div class='col-lg-5 col-sm-12'>
            <%= f.input :garantie, id: :equipement_garantie, label: "Durée de garantie (en année)", input_html: {placeholder: ''}  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= f.button :submit, "Ajouter l'équipement", class: "btn btn-block btn-outline-danger mb-3" %>

<% end %>
</div>
