<% if @serial_success %>
  <button type="button" class="btn btn-success">
    Mises à jour réussies : <span class="badge badge-light"><%= @serial_success.count %></span>
  </button>
  <% @serial_success.each do |s| %>
    <div class="alert alert-success" role="alert">Le numéro de série <strong><%= s.serial %></strong> a été ajouté pour l'hote <strong><%= s.ip %></strong>.</div>
  <% end %>
<% end %>

<% if @serial_errors %>
  <button type="button" class="btn btn-danger">
    Mises à jour échouées : <span class="badge badge-light"><%= @serial_errors.count %></span>
  </button>
  <% @serial_errors.each do |e| %>
    <div class="alert alert-danger" role="alert">L'hôte <strong><%= e.ip %></strong> a encontré une erreur l'erreur suivante : <%= e.errors.messages[:base].first %></div>
  <% end %>
<% end %>
