<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @equipement.nom %>
</p>

<p>
  <strong>Marque:</strong>
  <%= @equipement.marque %>
</p>

<p>
  <strong>Modele:</strong>
  <%= @equipement.modele %>
</p>

<p>
  <strong>Snmpcontact:</strong>
  <%= @equipement.snmpcontact %>
</p>

<p>
  <strong>Dns:</strong>
  <%= @equipement.dns %>
</p>

<p>
  <strong>Iosv:</strong>
  <%= @equipement.iosv %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @equipement.ip %>
</p>

<p>
  <strong>Achat:</strong>
  <%= @equipement.achat %>
</p>

<p>
  <strong>Garantie:</strong>
  <%= @equipement.garantie %>
</p>

<p>
  <strong>Asapid:</strong>
  <%= @equipement.asapid %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @equipement.serial %>
</p>

<%= link_to 'Edit', edit_equipement_path(@equipement) %> |
<%= link_to 'Back', equipements_path %>
