
<nav class="nav nav-pills nav-justified">
  <a class="m-1 nav-item btn btn-outline-info" href="#cisco">Cisco</a>
  <a class="m-1 nav-item btn btn-outline-warning" href="#aerohive">Aerohive</a>
  <a class="m-1 nav-item btn btn-outline-success" href="#autres">Autre</a>
  <a class="m-1 nav-item btn btn-outline-danger" href="#csv">CSV</a>
</nav>

<% if notice  %>
<div class="alert alert-success animated slideInDown" role="alert">
  <%= notice %>
</div>
<% else %>
<div class="alert alert-danger animated slideInDown" role="alert">
  <%= alert %>
</div>
<% end %>

<div class="container">

  <div class="row mt-3">
    <div class="col">
      <div class="card border-danger">
        <div class="card-text">

          <h2 class="m-3 text-danger">Brocade</h2>
          <%= bar_chart @stock_brocade.group(:modele).count, colors: ['#b82e2e'], height: "600px"%>

          <table id="tablesorter-brocade" class="tablesorter table table-striped table-sm">
            <thead>
              <tr>
                <th><%= fa_icon("tag") %> Marque</th>
                <th><%= fa_icon("server") %> Modèle</th>
                <th><%= fa_icon("barcode") %> Numéro de série</th>
                <th><%= fa_icon("calendar") %> Date d'ajout</th>
                <th><%= fa_icon("briefcase") %> Projet</th>
                <th><%= fa_icon("calendar") %> Date du projet</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @stock_brocade.each do |s| %>
              <tr>
                <td><%= s.marque %></td>
                <td><%= s.modele %></td>
                <td><%= s.serial %></td>
                <td><span class="badge badge-pill badge-primary"><%= s.created_at.strftime("%d/%m/%y") %></span></td>
                <td><%= link_to s.projet.titre, edit_projet_path(s.projet), class: "badge badge-pill badge-success" if s.projet%></td>
                <!-- <td><span class="badge badge-pill badge-primary"><%= s.projet.titre if s.projet %></span></td> -->
                <td><span class="badge badge-pill badge-success"><%= s.projet.date.strftime("%d/%m/%y")  if s.projet %></span></td>
                <td><%= link_to fa_icon("thumbs-up")+" Passer en prod", edit_equipement_path(s), class: "btn btn-outline-primary btn-sm" %></td>
                <td><%= link_to fa_icon("trash"), s, class: "btn btn-outline-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3" id="cisco">
    <div class="col">
      <div class="card border-primary">
        <div class="card-text">

          <h2 class="m-3 text-info">Cisco</span></h2>
          <%= bar_chart @stock_cisco.group(:modele).count, height: "800px" %>
          <table id="tablesorter-cisco" class="tablesorter table table-striped table-sm">
            <thead>
              <tr>
                <th><%= fa_icon("tag") %> Marque</th>
                <th><%= fa_icon("server") %> Modèle</th>
                <th><%= fa_icon("barcode") %> Numéro de série</th>
                <th><%= fa_icon("calendar") %> Date d'ajout</th>
                <th><%= fa_icon("briefcase") %> Projet</th>
                <th><%= fa_icon("calendar") %> Date du projet</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @stock_cisco.each do |s| %>
              <tr>
                <td><%= s.marque %></td>
                <td><%= s.modele %></td>
                <td><%= s.serial %></td>
                <td><span class="badge badge-pill badge-primary"><%= s.created_at.strftime("%d/%m/%y") %></span></td>
                <td><%= link_to s.projet.titre, edit_projet_path(s.projet), class: "badge badge-pill badge-primary" if s.projet%></td>
                <td><span class="badge badge-pill badge-success"><%= s.projet.date.strftime("%d/%m/%y")  if s.projet %></span></td>
                <td><%= link_to fa_icon("thumbs-up")+" Passer en prod", edit_equipement_path(s), class: "btn btn-outline-primary btn-sm" %></td>
                <td><%= link_to fa_icon("trash"), s, class: "btn btn-outline-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div class="row mt-3" id="aerohive">
    <div class="col">
      <div class="card border-warning">
        <div class="card-text">

          <h2 class="m-3 text-warning">Aerohive</span></h2>
          <%= column_chart @stock_aerohive.group(:modele).count, colors: ['#f6c578'] %>
          <table id="tablesorter-aerohive" class="tablesorter table table-striped table-sm">
            <thead>
              <tr>
                <th><%= fa_icon("tag") %> Marque</th>
                <th><%= fa_icon("server") %> Modèle</th>
                <th><%= fa_icon("barcode") %> Numéro de série</th>
                <th><%= fa_icon("calendar") %> Date d'ajout</th>
                <th><%= fa_icon("briefcase") %> Projet</th>
                <th><%= fa_icon("calendar") %> Date du projet</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @stock_aerohive.each do |s| %>
                <tr>
                  <td><%= s.marque %></td>
                  <td><%= s.modele %></td>
                  <td><%= s.serial %></td>
                  <td><span class="badge badge-pill badge-primary"><%= s.created_at.strftime("%d/%m/%y") %></span></td>
                  <td><%= link_to s.projet.titre, edit_projet_path(s.projet), class: "badge badge-pill badge-primary" if s.projet%></td>
                  <td><span class="badge badge-pill badge-success"><%= s.projet.date.strftime("%d/%m/%y")  if s.projet %></span></td>
                  <td><%= link_to fa_icon("thumbs-up")+" Passer en prod", edit_equipement_path(s), class: "btn btn-outline-primary btn-sm" %></td>
                  <td><%= link_to fa_icon("trash"), s, class: "btn btn-outline-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col" id="autres">
      <div class="card border-success">
        <div class="card-text">
          <h2 class="m-3 text-success">Autres marques</h2>

          <table id="tablesorter-autre" class="tablesorter table table-striped table-sm">
            <thead>
              <tr>
                <th><%= fa_icon("tag") %> Marque</th>
                <th><%= fa_icon("server") %> Modèle</th>
                <th><%= fa_icon("barcode") %> Numéro de série</th>
                <th><%= fa_icon("calendar") %> Date d'ajout</th>
                <th><%= fa_icon("briefcase") %> Projet</th>
                <th><%= fa_icon("calendar") %> Date du projet</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @stock_others.each do |s| %>
                <tr>
                  <td><%= s.marque %></td>
                  <td><%= s.modele %></td>
                  <td><%= s.serial %></td>
                  <td><span class="badge badge-pill badge-primary"><%= s.created_at.strftime("%d/%m/%y") %></span></td>
                  <td><%= link_to s.projet.titre, edit_projet_path(s.projet), class: "badge badge-pill badge-primary" if s.projet%></td>
                  <td><span class="badge badge-pill badge-success"><%= s.projet.date.strftime("%d/%m/%y")  if s.projet %></span></td>
                  <td><%= link_to fa_icon("thumbs-up")+" Passer en prod", edit_equipement_path(s), class: "btn btn-outline-primary btn-sm" %></td>
                  <td><%= link_to fa_icon("trash"), s, class: "btn btn-outline-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div class="row mt-3 mb-3">
    <div class="col" id="csv">
      <div class="card border-danger">
        <div class="card-body">
          <h5 class="m-3 cart-title text-danger"><%= fa_icon('file-excel-o') %> Importer des équipements depuis un fichier CSV</h5>
          <p class="card-text">Pour importer un fichier CSV :
            <ol>
              <li>Télécharger le modèle de fichier en cliquant sur le bouton <span class="badge "><%= fa_icon('gears') %> Options</span>,
                puis <span class="badge badge-purple"><%= fa_icon('download') %> État du stock</span>.</li>
              <li>Supprimer toutes les lignes du fichier, sauf la première.</li>
              <li>Remplisser le fichier, puis envoyer le en utilisant les boutons ci-dessous. </li>
            </ol>
          </p>
        </div>

        <%= form_tag import_equipements_path, multipart: true do %>
        <%= file_field_tag :file, class: "btn" %>
        <%= submit_tag "Importer le CSV", class: "btn btn-danger btn-block" %>
        <% end %>
      </div>
    </div>
  </div>

</div>
