<% if notice  %>
  <div class="alert alert-success animated slideInDown" role="alert">
    <%= notice %>
  </div>
<% end %>


<%= link_to fa_icon("plus")+' Ajouter des équipement au stock', new_equipement_path, class: 'btn btn-outline-primary' %>

<h2 class="m-3">État du stock <span class="text-danger">Brocade</span></h2>
<%= column_chart @stock_brocade.group(:modele).count %>

<h2 class="m-3">Détail du matériel <span class="text-danger">Brocade</span> en stock </h2>

<table id="tablesorter" class="tablesorter table table-striped table-sm">
  <thead>
    <tr>
      <th><%= fa_icon("tag") %> Marque</th>
      <th><%= fa_icon("server") %> Modèle</th>
      <th><%= fa_icon("barcode") %> Numéro de série</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stock_brocade.each do |s| %>
      <tr>
        <td><%= s.marque %></td>
        <td><%= s.modele %></td>
        <td><%= s.serial %></td>
        <td><%= link_to fa_icon("thumbs-up")+" Passer en prod", edit_equipement_path(s), class: "btn btn-outline-primary btn-sm" %></td>
        <td><%= link_to fa_icon("trash"), s, class: "btn btn-outline-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2 class="m-3">État du stock <span class="text-primary">Cisco</span></h2>
<%= column_chart @stock_cisco.group(:modele).count %>

<h2 class="m-3">Détail du matériel <span class="text-primary">Cisco</span> en stock </h2>

<table id="tablesorter" class="tablesorter table table-striped table-sm">
  <thead>
    <tr>
      <th><%= fa_icon("tag") %> Marque</th>
      <th><%= fa_icon("server") %> Modèle</th>
      <th><%= fa_icon("barcode") %> Numéro de série</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stock_cisco.each do |s| %>
      <tr>
        <td><%= s.marque %></td>
        <td><%= s.modele %></td>
        <td><%= s.serial %></td>
        <td><%= link_to fa_icon("thumbs-up")+" Passer en prod", edit_equipement_path(s), class: "btn btn-outline-primary btn-sm" %></td>
        <td><%= link_to fa_icon("trash"), s, class: "btn btn-outline-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2 class="m-3">État du stock <span class="text-warning">Aerohive</span></h2>
<%= column_chart @stock_aerohive.group(:modele).count %>

<h2 class="m-3">Détail du matériel <span class="text-warning">Aerohive</span> en stock </h2>

<table id="tablesorter" class="tablesorter table table-striped table-sm">
  <thead>
    <tr>
      <th><%= fa_icon("tag") %> Marque</th>
      <th><%= fa_icon("server") %> Modèle</th>
      <th><%= fa_icon("barcode") %> Numéro de série</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stock_aerohive.each do |s| %>
      <tr>
        <td><%= s.marque %></td>
        <td><%= s.modele %></td>
        <td><%= s.serial %></td>
        <td><%= link_to fa_icon("thumbs-up")+" Passer en prod", edit_equipement_path(s), class: "btn btn-outline-primary btn-sm" %></td>
        <td><%= link_to fa_icon("trash"), s, class: "btn btn-outline-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<h2 class="m-3">État du stock <span class="text-success">général</span></h2>

<table id="tablesorter" class="tablesorter table table-striped table-sm">
  <thead>
    <tr>
      <th><%= fa_icon("tag") %> Marque</th>
      <th><%= fa_icon("server") %> Modèle</th>
      <th><%= fa_icon("barcode") %> Numéro de série</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stock_all.each do |s| %>
      <tr>
        <td><%= s.marque %></td>
        <td><%= s.modele %></td>
        <td><%= s.serial %></td>
        <td><%= link_to fa_icon("thumbs-up")+" Passer en prod", edit_equipement_path(s), class: "btn btn-outline-primary" %></td>
        <td><%= link_to fa_icon("trash"), s, class: "btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
