<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand  col-sm-3 col-md-2 mr-0" href="<%= root_path %>">
    <%= fa_icon("server")  %> <span class="text-primary">CRC</span>my<span class="text-danger">Admin</span>
  </a>
  <form action="./recettes">
    <input class="form-control w-100" type="text" name="search" placeholder="Rechercher" aria-label="Rechercher">
  </form>
  <ul class="navbar-nav px-3">
    <% if user_signed_in? %>
      <!-- <li class="nav-item  text-nowrap"> -->
        <!-- <%= link_to fa_icon("user-circle-o") + " " + current_user.email , edit_user_registration_path, :class => 'nav-link' %> -->
      <!-- </li> -->
      <li class="nav-item text-nowrap">
        <%= link_to fa_icon("sign-out") + "Déconnexion", destroy_user_session_path, method: :delete, :class => 'nav-link'  %>
      </li>
    <% else %>
    <!-- <li class="nav-item text-nowrap">
      <%= link_to "Sign up", new_user_registration_path, :class => 'nav-link'  %>
    </li>
    <li class="nav-item text-nowrap">
      <%= link_to "Login", new_user_session_path, :class => 'nav-link'  %>
    </li> -->
    <% end %>
  </ul>


</nav>
