<nav class="col-md-2 d-none d-md-block bg-light sidebar">

  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link <% if current_page?(root_url) %>active<% end %>" href="<%= root_path %>"><%= fa_icon("dashboard") %> Tableau de bord</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <% if request.path.start_with?('/recettes') %>active<% end %>" href="<%= recettes_path %>"><%= fa_icon("check-square-o") %> Fiches recettes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <% if request.path.start_with?('/equipements') %>active<% end %>" href="<%= equipements_path %>"><%= fa_icon("server") %> Équipements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <% if request.path.start_with?('/stock') %>active<% end %>" href="/stock"><%= fa_icon("truck") %> Stock</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <% if request.path.start_with?('/lignes') %>active<% end %>" href="<%= lignes_path %>"><%= fa_icon("phone") %> Lignes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <% if request.path.start_with?('/operateurs') %>active<% end %>" href="<%= operateurs_path %>"><%= fa_icon("user-secret") %> Opérateurs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <% if request.path.start_with?('/localisations') %>active<% end %>" href="<%= localisations_path %>"><%= fa_icon("map-marker") %> Localisations</a>
      </li>
    </ul>


    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span><%= fa_icon('download')%> Export CSV</span>
    </h6>


    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <%= link_to fa_icon("file-excel-o")+' Équipements', equipements_path(format: :csv), class: 'nav-link'%>
      </li>
      <li class="nav-item">
        <%= link_to fa_icon("file-excel-o")+' Lignes', lignes_path(format: :csv), class: 'nav-link'%>
      </li>
      <li class="nav-item">
        <%= link_to fa_icon("file-excel-o")+' Localisations', localisations_path(format: :csv), class: 'nav-link'%>
      </li>
      <li class="nav-item">
        <%= link_to fa_icon("file-excel-o")+' État du stock', '/stock.csv', format: :csv, class: 'nav-link'%>
      </li>
    </ul>

    <!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span><%= fa_icon('download')%> LibreNMS</span>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <%= link_to fa_icon("refresh")+' Maj Serials', '/serials_update', class: 'nav-link'%>
      </li>
      <li class="nav-item">
        <%= link_to fa_icon("plus")+' Maj hôtes', '/hosts_update', class: 'nav-link'%>
      </li>

    </ul> -->


  </div>
</nav>
