<%= simple_form_for(@ligne) do |f| %>
  <%- if f.error_notification %>
  <div class="alert alert-error fade in">
    <a class="close" data-dismiss="alert" href="#">&times;</a>
    <%= f.error_notification %>
  </div>
  <%- end %>



    <div class="card text-purple border-purple mb-3">
      <div class="card-body">
        <h4 class="card-title"><%= fa_icon("id-card") %> Caractéristiques</h4>

        <div class="form-row">
          <div class='col-lg-3 col-sm-12'>
            <div class="form-group">
              <%= f.association :operateur, label: fa_icon("bug")+" Opérateur", label_method: :nom, value_method: :id, include_blank: false %>
             </div>
          </div>
          <div class='col-lg-3 col-sm-12'>
            <div class="form-group select ligne_techno">
              <label for="ligne_techno"><%= fa_icon("rebel") %> Techno</label>
              <select name="ligne[techno]" id="ligne_techno" class="form-control">
                <option value=""></option>
                <option <% if @ligne.techno == '4G' %> selected <% end %> value="4G">4G</option>
                <option <% if @ligne.techno == 'ADSL' %> selected <% end %> value="ADSL">ADSL</option>
                <option <% if @ligne.techno == 'SDSL' %> selected <% end %> value="SDSL">SDSL</option>
                <option <% if @ligne.techno == 'VDSL' %> selected <% end %> value="VDSL">VDSL</option>
                <option <% if @ligne.techno == 'FTTH' %> selected <% end %> value="FTTH">FTTH</option>
                <option <% if @ligne.techno == 'BES2' %> selected <% end %> value="BES2">BES2</option>
                <option <% if @ligne.techno == 'GFU' %> selected <% end %> value="GFU">GFU</option>
                <option <% if @ligne.techno == 'BI' %> selected <% end %> value="BI">BI</option>
              </select>
            </div>
          </div>
          <div class='col-lg-3 col-sm-12'>
            <%= f.input :debit, label: fa_icon("cloud-download")+" Débit descendant (Mb/s)", input_html: {placeholder: "20"} %>
          </div>
          <div class='col-lg-3 col-sm-12'>
            <%= f.input :ippublique, label: fa_icon("at")+" IP publique", input_html: {placeholder: "163.172.94.200"} %>
          </div>
        </div>

        <div class="form-row">
          <div class='col-lg-6 col-sm-12'>
            <%= f.input :numerocompte, label: fa_icon("barcode")+" Référence opérateur", input_html: {placeholder: "VV670110"} %>
          </div>
          <div class='col-lg-6 col-sm-12'>
            <%= f.input :ndi, label: fa_icon("phone")+" NDI", input_html: {placeholder: "05 56 16 80 80"} %>
          </div>
        </div>

        <div class="form-row">
          <div class='col-lg-6 col-sm-12'>
            <%= f.input :identifiantoperateur, label:fa_icon("user-circle")+" Identifiant de connexion", input_html: {placeholder: "fti/t3wvdhz"} %>
          </div>
          <div class='col-lg-6 col-sm-12'>
            <%= f.input :mdpoperateur, label:fa_icon("lock")+" Mot de passe de connexion" %>
          </div>
        </div>
      </div>
    </div>

    <div class="card text-info border-info mb-3">
      <div class="card-body">
        <h4 class="card-title"><%= fa_icon("globe") %> Portail opérateur</h4>

        <div class="form-row">
          <div class='col-lg-6 col-sm-12'>
            <%= f.input :mail, label: fa_icon("envelope")+" Mail de contact", input_html: {placeholder: "mairie-annexe@orange.fr"} %>
          </div>
          <div class='col-lg-6 col-sm-12'>
            <%= f.input :tel, label: fa_icon("phone")+" Téléphone de contact", input_html: {placeholder: "05 56 16 80 80"} %>
          </div>
        </div>

        <div class="form-row">
          <div class='col-lg-6 col-sm-12'>
            <%= f.input :compte, label:fa_icon("user-circle")+" Identifiant", input_html: {placeholder: "alsh-lamarianne"} %>
          </div>
          <div class='col-lg-6 col-sm-12'>
            <%= f.input :motdepasse, label:fa_icon("lock")+" Mot de passe" %>
          </div>
        </div>

        <div class="form-row">
          <div class='col-lg-6 col-sm-12'>
            <%= f.input :cout, label:fa_icon("money")+" Coût / mois en €", input_html: {placeholder: "29,90"} %>
          </div>
          <div class='col-lg-6 col-sm-12'>
            <%= f.input :vlan, label:fa_icon("plug")+" Vlans", input_html: {placeholder: "300, 500, 501..."} %>
          </div>
        </div>
      </div>
    </div>

  <div class="form-actions">
    <% if params[:action] == 'edit' %>
      <%= f.button :submit, "Modifier la ligne", class: "btn btn-block btn-outline-primary mb-3" %>
    <% else %>
      <%= f.button :submit, "Ajouter la ligne", class: "btn btn-block btn-outline-primary mb-3" %>
    <% end %>
  </div>
<% end %>
