<% if notice  %>
  <div class="alert alert-success animated slideInDown" role="alert">
    <%= notice %>
  </div>
<% end %>
<% if params[:search] %>
<div class="alert alert-primary" role="alert">
  <%= fa_icon("server") %>
  <strong><%= @nb %></strong> Lignes trouvées correspondantes à la recherche
</div>
<% else %>
<% end %>
<nav class="nav nav-pills nav-justified">
  <%= link_to fa_icon("plus")+' Ajouter une nouvelle Ligne', new_ligne_path, class: "m-1 nav-item btn btn-outline-primary" %>
  <% @villes.each do |v|%>
    <%= link_to v.ville, lignes_path(:ville_id => v.ville), class: "m-1 nav-item btn btn-outline-purple" %>
  <% end %>
</nav>
<table id="tablesorter" class="table table-striped table-sm tablesorter">
  <thead>
    <tr>
      <th><%= fa_icon("feed")%> Techno</th>
      <th><%= fa_icon("bug")%> Opérateur</th>
      <th><%= fa_icon("barcode")%> Référence opérateur</th>
      <th><%= fa_icon("phone")%> NDI</th>
      <th><%= fa_icon("cloud-download")%> Débit</th>
      <th><%= fa_icon("at")%> IP publique</th>
      <th><%= fa_icon("home")%> Ville</th>
      <th><%= fa_icon("map-marker")%> Adresse</th>
      <th><%= fa_icon("server")%> Équipements</th>
      <th colspan="2"><%= fa_icon("pencil")%></th>
    </tr>
  </thead>

  <tbody>
    <% @lignes.each do |ligne| %>
      <tr>
        <td><%= ligne.techno %></td>
        <td><%= ligne.operateur.nom %></td>
        <td><a class="text-purple" href="<%= edit_ligne_path(ligne) %>"><%= ligne.numerocompte %></a></td>
        <td><%= ligne.ndi %></td>
        <td><%= ligne.debit %></td>
        <td><%= ligne.ippublique %></td>
        <td><% if ligne.recettes.last %>
            <%= ligne.recettes.last.localisation.ville %>
        <% end %></td>
        <td><% if ligne.recettes.last %>
          <a class="text-info" href="<%= edit_localisation_path(ligne.recettes.last.localisation) %>">
            <strong><%= ligne.recettes.last.localisation.nom %>,</strong> <%= ligne.recettes.last.localisation.adresse %>
          </a>
        <% end %></td>
        <td><% if ligne.recettes.last %>
          <a class="text-danger" href="<%= edit_equipement_path(ligne.recettes.last.equipement) %>">
            <%= ligne.recettes.last.equipement.nom %>
          </a>
        <% end %></td>
        <td><%= link_to fa_icon("pencil"), edit_ligne_path(ligne), class: "btn btn-outline-primary" %></td>
        <td><%= link_to fa_icon("trash"), ligne, class: "btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% unless @lignes.kind_of?(Array) %>
  <%= paginate @lignes %>
<% end %>
<br>
<h3>Importer un fichier CSV</h3>
  <%= form_tag import_lignes_path, multipart: true do %>
    <%= file_field_tag :file, class: "btn" %>
    <%= submit_tag "Importer le CSV", class: "btn" %>
  <% end %>
