<% if notice  %>
  <div class="alert alert-success animated slideInDown" role="alert">
    <%= notice %>
  </div>
<% end %>

<h1>Lignes</h1>
<%= link_to fa_icon("plus")+' Ajouter une nouvelle Ligne', new_ligne_path, class: "btn btn-outline-primary" %>

<table id="tablesorter" class="table table-striped table-sm tablesorter">
  <thead>
    <tr>
      <th><%= fa_icon("bug")%> Opérateur</th>
      <th><%= fa_icon("barcode")%> Référence opérateur</th>
      <th><%= fa_icon("phone")%> NDI</th>
      <th><%= fa_icon("cloud-download")%> Débit</th>
      <th><%= fa_icon("at")%> IP publique</th>
      <th><%= fa_icon("envelope")%> Mail</th>
      <th colspan="2"><%= fa_icon("pencil")%></th>
    </tr>
  </thead>

  <tbody>
    <% @lignes.each do |ligne| %>
      <tr>
        <td><%= ligne.operateur.nom %></td>
        <td><a href="<%= edit_ligne_path(ligne) %>"><%= ligne.numerocompte %></a></td>
        <td><%= ligne.ndi %></td>
        <td><%= ligne.debit %></td>
        <td><%= ligne.ippublique %></td>
        <td><%= ligne.mail %></td>
        <td><%= link_to fa_icon("pencil"), edit_ligne_path(ligne), class: "btn btn-outline-warning" %></td>
        <td><%= link_to fa_icon("trash"), ligne, class: "btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
