<p id="notice"><%= notice %></p>

<p>
  <strong>Numerocompte:</strong>
  <%= @ligne.numerocompte %>
</p>

<p>
  <strong>Ndi:</strong>
  <%= @ligne.ndi %>
</p>

<p>
  <strong>Debit:</strong>
  <%= @ligne.debit %>
</p>

<p>
  <strong>Ippublique:</strong>
  <%= @ligne.ippublique %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @ligne.mail %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @ligne.tel %>
</p>

<p>
  <strong>Identifiantoperateur:</strong>
  <%= @ligne.identifiantoperateur %>
</p>

<p>
  <strong>Mdpoperateur:</strong>
  <%= @ligne.mdpoperateur %>
</p>

<p>
  <strong>Compte:</strong>
  <%= @ligne.compte %>
</p>

<p>
  <strong>Motdepasse:</strong>
  <%= @ligne.motdepasse %>
</p>

<p>
  <strong>Operateur:</strong>
  <%= @ligne.operateur %>
</p>

<%= link_to 'Edit', edit_ligne_path(@ligne) %> |
<%= link_to 'Back', lignes_path %>
