<p id="notice"><%= notice %></p>

<h1>Operateurs</h1>
<%= link_to fa_icon("plus")+' Ajouter un équipement', new_operateur_path, class: 'btn btn-outline-primary' %>
<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Hotline</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @operateurs.each do |operateur| %>
      <tr>
        <td><%= operateur.nom %></td>
        <td><%= operateur.hotline %></td>
        <td><%= link_to 'Show', operateur %></td>
        <td><%= link_to 'Edit', edit_operateur_path(operateur) %></td>
        <td><%= link_to 'Destroy', operateur, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
