<!DOCTYPE html>
<html>
  <head>
    <title>CRCMyAdmin</title>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
  </head>

  <body class="bg-secondary">
    <div class="container bg-light p-3">
      <% if user_signed_in? %>
        <%= render "shared/navbar" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
