<%= render "shared/header" %>

<% if user_signed_in? %>
  <%= render "shared/navbar" %>
<% end %>

  <div class="container-fluid bg-light">
    <div class="row d-flex">
      <% if user_signed_in? %>
        <%= render "shared/sidebar" %>
        <main role="main" class="col-md-10 ml-sm-auto col-lg-11">
          <%= yield %>
        </main>
      <% else %>
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-sm-5">
              <%= yield %>
            </div>
          </div>
        </div>
      <% end %>

<%= render "shared/footer" %>
